/* styles.css */
@font-face {
    font-family: 'nanum';
    src: url('NanumGothic.otf') format('opentype');
}
body {
    font-family: "nanum", Arial;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #d6e4f2;
    padding: 10px 30px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    color: #000000;
}
.sidebar {
    display: none;
    position: fixed;
    left: 0;
    top: 120px;
    width: 200px;
    height: calc(100% - 200px);
    background-color: #ffffff;
    padding: 10px;
     
    margin: 0px 100px;
    /* 파란색 테두리와 둥근 모서리 설정 */
    border: 2px solid #cccccc; /* 파란색 테두리 */
    border-radius: 10px; /* 모서리를 둥글게 */
}

.sidebar h2 {
    font-family: "nanum", Arial;
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar ul {
    font-family: "nanum", Arial;
    list-style: none;
    padding: 0;
}

.sidebar-btn {
    font-family: "nanum", Arial;
    text-decoration: none;
    color: #272727;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    color: #104c9b;
}

/* 사이드바 하위 메뉴 */
.sidebar-submenu {
    font-family: "nanum", Arial;
    display: none;
    list-style: none;
    padding-left: 20px;
    
}

/* 기본 스타일 */
.sidebar-submenu-btn {
    font-family: "nanum", Arial;
    text-decoration: none;
    color: #3d3d3d;
    display: block;
    padding: 7px 10px;
    background-color: transparent;
    border: none; /* 테두리 제거 */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* 활성화 상태 (active 버전) */
.sidebar-submenu-btn-active {
    font-family: "nanum", Arial;
    color: #fff;
    background-color: #104c9b;
    border: none; /* 테두리 제거 */
     /* 텍스트를 굵게 표시 (선택 사항) */
    padding: 7px 10px; 
    padding-right: 85px;
    border-radius: 5px; /* 모서리를 둥글게 (선택 사항) */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-submenu-btn:hover {
    color: #000;
}

/* 상단 네비게이션 하위 메뉴 */
.nav-submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #25357c;
    padding: 10px;
    list-style: none;
    width: 140px;
}

.nav-submenu-btn {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 0px;
}

.nav-submenu-btn:hover {
    background-color: #f0f8ff;
    color: #115ebd;
}

.toggle-arrow {
    cursor: pointer;
    font-size: 12px;
}
/* 메인 콘텐츠가 사이드바에 가려지지 않도록 여백 추가 */
.main-content {
    margin-left: 220px; /* 사이드바가 나타날 공간 확보 */
    display: none;
    padding-left: 330px;
    transition: margin-left 0.3s ease;
}

.main-content.toggled {
    margin-left: 0; /* 사이드바가 숨겨질 때 여백 제거 */
}

nav {
    margin-left: 120px;
}

.nav {
    list-style: none;
    display: flex;
    margin: 100;
    padding: 0;
}

.nav li {
    position: relative;
    margin-right: 70px;
}

.nav-btn {
    text-decoration: none;
    color: #6D6D6D;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-btn:hover {
    color: #1859af;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #25357c;
    padding: 10px;
    list-style: none;
    width: 150px;
}

.submenu li {
    margin: 3px 0;
}

.submenu-btn {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
}

.submenu-btn:hover {
    background-color: #f0f8ff;
    color: #115ebd;
}

.breadcrumb {
    position: absolute; /* 부모 요소를 기준으로 위치 설정 */
    top: 100px; /* 위에서 20px */
    right: 30px; /* 왼쪽에서 30px */
    font-size: 16px;
    color: #666;
}


.dashboard-title {
    margin: 40px 30px;
}

.content-buttons {
    margin-left: 30px;
    margin-bottom: 20px;
}

.inactive-btn {
    font-family: "nanum", Arial;
    font-size: 17px;
    background-color: #EDEDED;
    border: none;
    padding: 15px 40px;
    border-radius: 7px;
    margin-right: 30px;
    cursor: pointer;
    
}

.active-btn {
    font-family: "nanum", Arial;
    font-size: 17px;
    background-color: #0A4DA0;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 7px;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
}

.active-btn::after {
    content: '';
    position: absolute;
    bottom: -24px; /* 버튼 아래에 위치 */
    left: 85px; /* 꼬리 위치 조정 */
    border-width: 15px;
    border-style: solid;
    border-color: #0A4DA0 transparent transparent transparent; /* 말풍선 색과 동일하게 */
}

.selected-title {
    margin-left: 30px;
    margin-top: 40px;
    font-size: 27px;
    font-weight: bold;
    color: #333;
}
.title {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    color: #0A4DA0;
}
.last-updated-title {
    margin-left: 30px;
    font-size: 14px;
    color: #666;
}

.dashboard-box {
    margin-left: 220px;
    width: 90%;
    height: 850px;
    background-color: white;
    border: 2px solid #ccc;
    margin: 0 30px;
}

.dashboard-box p {
    font-size: 20px;
    color: grey;
    text-align: center;
    line-height: 400px;
}

