<nav>
    <ul class="nav">
        <li>
            <a href="#" class="nav-btn" id="admission-btn">입학</a>
            <!-- 상단 네비게이션 하위 메뉴 -->
            <ul class="nav-submenu" id="admission-submenu">
                <li><a href="/dashboard/menu_admission/freshman-btn.html" class="nav-submenu-btn" id="freshman-btn">신입생 충원</a></li>
                <li><a href="./menu_admission/freshgrades-btn.html" class="nav-submenu-btn" id="freshgrades-btn">신입생 성적</a></li>
            </ul>
        </li>
        <li><a href="#" class="nav-btn">학적</a></li>
        <li>
            <a href="#" class="nav-btn" id="grade-btn">성적</a>
            <!-- 상단 네비게이션 하위 메뉴 -->
            <ul class="nav-submenu" id="grade-submenu">
                <li><a href="./menu_grade/score-btn.html" class="nav-submenu-btn" id="score-btn">전체 학점</a></li>
                <li><a href="./menu_grade/major-grades-btn.html" class="nav-submenu-btn" id="major-grades-btn">전공 학점</a></li>
                <li><a href="./menu_grade/general-grades-btn.html" class="nav-submenu-btn" id="general-grades-btn">교양 학점</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="nav-btn" id="graduation-btn">졸업</a>
            <!-- 하위 메뉴 -->
            <ul class="nav-submenu" id="graduation-submenu">
                <li><a href="./menu_graduation/graduate-btn.html" class="nav-submenu-btn" id="graduate-btn">졸업생</a></li>
                <li><a href="./menu_graduation/graduate_school-btn.html" class="nav-submenu-btn" id="graduate_school-btn">대학원</a></li>
            </ul>
        </li>
        <li><a href="#" class="nav-btn">기타</a></li>
    </ul>
</nav>